.container {
    border-radius: 10px;
    box-shadow: 0px 8px 10px 0px rgba(10, 31, 68, 0.1);
    margin-bottom: 24px;
}

.detail {
    padding: 8px 16px 16px 16px;
}

.rating {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.priceContainer {
    display: flex;
}

.price {
    flex: auto;
}

.button {
    flex: auto;
    text-align: end;
}

.addButton {
    background-color: #f9423a;
    border-radius: 5px;
    padding: 8px 24px;
    border-width: 0px;
    cursor: pointer;
}